[submodule "Caustix/vendor/spdlog"]
	path = Caustix/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Caustix/vendor/glfw"]
	path = Caustix/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Caustix/vendor/imgui"]
	path = Caustix/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
